@font-face {
    font-family: MiSansVF;
    src: url(MiSansVF.ttf);
}

:root {
    --wh-color-primary-light-theme: rgb(0, 119, 255);

}
.wh-header {
    color: rgb(0, 119, 255);
}

._main_joawza_17 {
    color: rgb(0, 119, 255)
}

.wh-header__burger {
    color: rgb(0, 119, 255)
}

.wt-icon {
    color: rgb(0, 119, 255)
}
.footer__copyright {
    color: black;
}

._light_1fcqo6x_31._classic_1fcqo6x_31 ._tab_1fcqo6x_13._selected_1fcqo6x_141{
    color: rgb(0, 119, 255);
}

._light_1fcqo6x_31._classic_1fcqo6x_31 ._indicator_1fcqo6x_19{
    background-color: rgb(0, 119, 255);
}

._dark_1fcqo6x_35._classic_1fcqo6x_31 ._tab_1fcqo6x_13._selected_1fcqo6x_141{
    color: rgb(0, 119, 255);
}

._dark_1fcqo6x_35._classic_1fcqo6x_31 ._indicator_1fcqo6x_19{
    background-color: rgb(0, 119, 255);
}


._tab_1fcqo6x_13._selected_1fcqo6x_141{
    color: rgb(0, 119, 255)
}

.wh-header__download {
    color: rgb(0, 119, 255);
}

._modeClassic_joawza_135._dark_joawza_62 {
    background: rgb(0, 119, 255);
}

._modeClear_joawza_434._dark_joawza_62 {
    color:rgb(0, 119, 255);
}

.toc-item--selected, .toc-item--selected:hover {
    background-color: rgb(0, 119, 255);
}

.toc-item--selected.toc-item--theme-dark, .toc-item--selected.toc-item--theme-dark:hover{
    background-color: rgb(0, 119, 255);
}

.footer {
    color: black;
    background-color: #f2f2f2;
    --app-link-color: black;
}

.app__footer {
    background-color: #f2f2f2;
}

.link, .link--dark {
    color: rgb(0, 119, 255);
}

._dark_1lgbkjk_31 {
    fill: rgb(0, 119, 255);
}

.rs-text-3_theme_dark.rs-text-3_hardness_hard, [class*=_theme_dark] .rs-text-3_theme_auto.rs-text-3_hardness_hard {
    color: rgb(0, 119, 255);
}

.app__header {
    width: 95%; /* 设置为比屏幕宽度小一些 */
     /* 设定一个最大宽度，避免在大屏设备上过宽 */
    margin: 20px auto; /* 自动水平居中，并设置顶部外边距 */
    padding: 2px 20px;
    background-color: #FFFFFF;
    color: white;
    text-align: center;
    border-radius: 5px; /* 圆角效果 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}
.wh-header__product-name {
    color: rgb(0, 119, 255);
}
.title__content {
    font-family: MiSansVF;
}
.article__p {
    font-family: MiSansVF;
}